@font-face {
    font-family: csFont;
    src: url(../font/cs_regular.ttf);
}

nav {
    background-color: #333;
    border-bottom: #555 solid;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding-bottom: 10px;
    background-color: #333;
}
  
nav a {
    padding: 10px;
    text-decoration: none; 
    margin: 0 10px;
    color: white;
}
  
nav a:hover {

    background-color: #555;
}
  
.nav-left, .nav-right {
    display: flex; 
}
h1{
    left: 45%;
    display: flex;
    font-family: csFont;
    font-size: 35px;
    position: absolute;
    color: white;
    text-align: center;
}
.pt1 {
    color: #ffa500;
}